{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-image">
      <img src="http://image.tmdb.org/t/p/original/{{movie.backdrop_path}}">
      <span class="card-title">{{movie.title}}</span>
    </div>
    <div class="card-content">
      <p>
        {{movie.overview}}
      </p>
      {{ movie.vote_count }}
      {{ movie.vote_average }}
      {{ movie.date }}
    </div>


  </div>

  <div class="z-depth-1 lighten-4 row">

    {% get_comment_list for movie as comment_list %}
    {% for comment in comment_list %}
    
    <p>Posted by: {{ comment.user }} on {{ comment.submit_date }}</p>
    <p>{{ comment.comment }}</p>

    {% endfor %}


    {% if user.is_authenticated %}
    {% get_comment_form for movie as form %}
    <form action="{% comment_form_target %}" method="POST">
      {% csrf_token %}
      {{ form.comment }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input class="btn waves-effect waves-light" type="submit" value="Add comment" id="id_submit" />
      <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
    {% else %}
    <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
</div>


{% endblock %}
