{% extends 'base.html' %}

{% block content %}
<br>
<br>

<div class="container">
  <center>

    <div class="z-depth-1 grey lighten-4 row"
    style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <h2>Sign up</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      <button  class="btn waves-effect waves-light" type="submit">Sign up</button>
    </form>
    <br>
  </div>

</center>
</div>
{% endblock %}
